flows/My_Events_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Manage_Registration</name>
        <label>Open Manage Registration</label>
        <locationX>954</locationX>
        <locationY>382</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>SelectedAttendee.FON_Manage_Registration__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_UAL_Events_Page</name>
        <label>Open UAL Events Page</label>
        <locationX>511</locationX>
        <locationY>529</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>https://fonteva-ualevents.cs126.force.com/events/s/events</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>144</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>AttendeeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Attendees_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Attendee</name>
        <label>Assign Current Attendee</label>
        <locationX>509</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>SelectedAttendee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_Selected_Attendee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Selected_Attendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CancelSelectedAttendee</name>
        <label>CancelSelectedAttendee</label>
        <locationX>793</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>SelectedAttendee.EventApi__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CancelAttendeeDML</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CancelAttendee</name>
        <choiceText>Cancel booking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManageAttendee</name>
        <choiceText>Manage booking</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage</stringValue>
        </value>
    </choices>
    <constants>
        <name>ManageLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage</stringValue>
        </value>
    </constants>
    <decisions>
        <name>EditTypeDecision</name>
        <label>EditTypeDecision</label>
        <locationX>924</locationX>
        <locationY>193</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ManageThisAttendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Manage_Registration</targetReference>
            </connector>
            <label>ManageThisAttendee</label>
        </rules>
        <rules>
            <name>CancelThisAttendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CancelAttendee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Cancellation</targetReference>
            </connector>
            <label>CancelThisAttendee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_Attendees</name>
        <label>Got Attendees</label>
        <locationX>232</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>No_Bookings_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Attendees_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttendeeCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Attendees</targetReference>
            </connector>
            <label>Got Attendees True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAttendeeEditable</name>
        <label>IsAttendeeEditable</label>
        <locationX>642</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>EventEditable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AttendeeNotEditable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedAttendee.FON_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoAttendeeSelectedScreen</targetReference>
            </connector>
            <label>AttendeeNotEditable</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProceedToCancel</name>
        <label>ProceedToCancel</label>
        <locationX>789</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>List_Attendees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmCancelToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancelSelectedAttendee</targetReference>
            </connector>
            <label>Yes Cancel</label>
        </rules>
    </decisions>
    <description>Flow that displays all future My Event Bookings and allows logged in user to access the Manage Registration page for each.</description>
    <formulas>
        <description>The ContactId of the logged in User</description>
        <name>LoggedInUserContactId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.ContactId})</expression>
    </formulas>
    <interviewLabel>My Events (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Event Bookings</label>
    <loops>
        <name>Count_Attendees_Loop</name>
        <label>Count Attendees Loop</label>
        <locationX>63</locationX>
        <locationY>316</locationY>
        <collectionReference>Get_Attendees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Got_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Extract_Selected_Attendee</name>
        <label>Extract Selected Attendee</label>
        <locationX>574</locationX>
        <locationY>10</locationY>
        <collectionReference>SelectedAttendees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Attendee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsAttendeeEditable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Attendees</name>
        <label>Get Attendees</label>
        <locationX>177</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Attendees_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>FON_Start_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventApi__Attendee__c</object>
        <sortField>FON_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CancelAttendeeDML</name>
        <label>CancelAttendeeDML</label>
        <locationX>790</locationX>
        <locationY>555</locationY>
        <inputReference>SelectedAttendee</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Cancellation</name>
        <label>Confirm Cancellation</label>
        <locationX>902</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProceedToCancel</targetReference>
        </connector>
        <fields>
            <name>ConfirmCancelToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Are you sure you wish to cancel your booking?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EventEditable</name>
        <label>EventEditable</label>
        <locationX>844</locationX>
        <locationY>81</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EditTypeDecision</targetReference>
        </connector>
        <fields>
            <name>EditType</name>
            <choiceReferences>ManageAttendee</choiceReferences>
            <choiceReferences>CancelAttendee</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ManageAttendee</defaultSelectedChoiceReference>
            <fieldText>How would you like to proceed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_Attendees</name>
        <label>List Attendees</label>
        <locationX>312</locationX>
        <locationY>208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Extract_Selected_Attendee</targetReference>
        </connector>
        <fields>
            <name>MyEventsInstructions</name>
            <fieldText>&lt;p&gt;Below is a list of all future Events you have registered for. Select an Event and click &lt;b&gt;Next&lt;/b&gt; to manage or cancel your registration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AttendeeDisplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>EventApi__Attendee__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Event_Name__c,FON_Start_Date__c,Ticket_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Attendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>FON_Event_Name__c:{wrapText: true};FON_Ticket_Type__c:{wrapText: true}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>FON_Start_Date__c:Event Start Date</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAttendees</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Bookings_Found</name>
        <label>No Bookings Found</label>
        <locationX>375</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_UAL_Events_Page</targetReference>
        </connector>
        <fields>
            <name>NoBookingsMessage</name>
            <fieldText>&lt;p&gt;We could not find any bookings in your name.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next&lt;/b&gt; to view our upcoming Events (opens in a new Tab).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoAttendeeSelectedScreen</name>
        <label>NoAttendeeSelectedScreen</label>
        <locationX>714</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAttendeeSelectedMessage</name>
            <fieldText>&lt;p&gt;You did not select an Event to edit. Please go back and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Attendees</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventApi__Attendee__c</objectType>
    </variables>
    <variables>
        <name>SelectedAttendees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventApi__Attendee__c</objectType>
    </variables>
    <variables>
        <name>SelectedManageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
