flows/My_Past_Events.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>144</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>AttendeeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Attendees_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CancelAttendee</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>ManageAttendee</name>
        <choiceText>Manage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage</stringValue>
        </value>
    </choices>
    <constants>
        <name>ManageLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manage</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Got_Attendees</name>
        <label>Got Attendees</label>
        <locationX>232</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>No_Bookings_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Got_Attendees_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttendeeCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Attendees</targetReference>
            </connector>
            <label>Got Attendees True</label>
        </rules>
    </decisions>
    <formulas>
        <description>The ContactId of the logged in User</description>
        <name>LoggedInUserContactId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.ContactId})</expression>
    </formulas>
    <interviewLabel>My Past Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Past Events</label>
    <loops>
        <name>Count_Attendees_Loop</name>
        <label>Count Attendees Loop</label>
        <locationX>63</locationX>
        <locationY>316</locationY>
        <collectionReference>Get_Attendees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Got_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Attendees</name>
        <label>Get Attendees</label>
        <locationX>176</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Attendees_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EventApi__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>FON_Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventApi__Attendee__c</object>
        <sortField>FON_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>List_Attendees</name>
        <label>List Attendees</label>
        <locationX>313</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MyEventsInstructions</name>
            <fieldText>&lt;p&gt;Below is a list of all past Events you have registered for.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AttendeeDisplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>EventApi__Attendee__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Event_Name__c,FON_Start_Date__c,Ticket_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Attendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>FON_Event_Name__c:{wrapText: true};FON_Ticket_Type__c:{wrapText: true}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>FON_Start_Date__c:Event Start Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedAttendees</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Bookings_Found</name>
        <label>No Bookings Found</label>
        <locationX>375</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoBookingsMessage</name>
            <fieldText>&lt;p&gt;We could not find any past event bookings in your name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Attendees</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendeeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventApi__Attendee__c</objectType>
    </variables>
    <variables>
        <name>SelectedAttendees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventApi__Attendee__c</objectType>
    </variables>
    <variables>
        <name>SelectedManageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
